<header>
  <nav role="navigation">
    {{#link-to "projects"}}PROJECT{{/link-to}}
    {{#link-to "visuals"}}VISUAL{{/link-to}}
    {{#link-to "blog" class="logo"}}
      <img src="{{unbound Ember.ENV.ASSETS.logo}}" alt="logo">
    {{/link-to}}
    {{#link-to "contact"}}CONTACT{{/link-to}}
    <a href="http://store.castequality.com">STORE</a>
  </nav>
</header>
