<header>
  <nav role="navigation">
    {{#link-to "posts" class="logo"}}
      <img src="{{unbound Ember.ENV.ASSETS.logo}}" alt="logo">
    {{/link-to}}

    <a href="https://castequality.bigcartel.com">STORE</a>
  </nav>
  <a class="banner">
    <img src="{{unbound Ember.ENV.ASSETS.banner}}" alt="banner">
    <img src="{{unbound Ember.ENV.ASSETS.banner}}" alt="banner">
  </a>
</header>
