<div class="social-links">
  <a href="https://vimeo.com/user16108071">
    <img src="{{unbound Ember.ENV.ASSETS.social.vimeo}}" alt="vimeo">
  </a>
  <a href="https://youtube.com/user/CASTEQuality">
    <img src="{{unbound Ember.ENV.ASSETS.social.youtube}}" alt="youtube">
  </a>
  <a href="https://twitter.com/castequality">
    <img src="{{unbound Ember.ENV.ASSETS.social.twitter}}" alt="twitter">
  </a>
  <a href="https://www.facebook.com/pages/Caste-Quality/241637155973501?group_id=0">
    <img src="{{unbound Ember.ENV.ASSETS.social.facebook}}" alt="facebook">
  </a>
</div>
