<a class="banner">
  <img src="{{unbound Ember.ENV.ASSETS.banner}}" alt="banner">
  <img src="{{unbound Ember.ENV.ASSETS.banner}}" alt="banner">
</a>
<section class="blog">
  <section class="posts">
    {{cloaked-collection cloakView="post" content=posts}}
  </section>

  <aside class="links" data-sticky>
    {{ render "links" this}}
  </aside>
</section>
