<div class="carousel no-dots" data-carousel>
  <ul class="slides">
    {{#each banner in banners}}
      <li>
        <img class="banner blog-banner" src="{{unbound banner}}" alt="banner">
      </li>
    {{/each}}
  </ul>
</div>

<section class="blog">
  <section class="posts">
    {{cloaked-collection cloakView="post" content=posts}}
  </section>

  <aside class="links" data-sticky>
    {{ render "links" this}}
  </aside>
</section>
