<div class="modal">
  <div class="modal-window">
    <div class="modal-inner">
      {{#link-to "visuals" class="modal-close"}}{{/link-to}}
      <img {{bind-attr src=view.photo alt=view.caption}}>
    </div>
  </div>
</div>
