<div data-carousel>
  <ul class="slides">
    {{#each photos}}
      <li>
        <img {{bind-attr src=url alt=url}}>
      </li>
    {{/each}}
    <li>
      <iframe {{bind-attr src=videoUrl}}></iframe>
    </li>
  </ul>
</div>
