<div class="no-dots" data-carousel>
  <ul class="slides">
    {{#each}}
      <li>
        <h1>{{name}}</h1>
        <iframe {{bind-attr src=videoUrl}}></iframe>
      </li>
    {{/each}}
  </ul>
</div>
