$posts-width: 524px;
$links-width: 205px;
$store-link-height: 310px;
$social-link-height: 40px;
$social-link-margin: 15px;
$instagram-link-height: $links-width;

.posts {
  @include size($posts-width 100%);
}

.photos {
  @include size($header-size 100%);

  .photo {
    margin-bottom: 5px;
  }
}

.fixed-links {
  float: right;
  position: fixed;
  margin-top: -138px;
  margin-left: 682px;
}

.links {
  @include size($links-width 100%);
  margin-bottom: $social-link-margin;
}

.blog {
  .posts, .photos, .links {
    float: left;
    margin-right: $element-margin;
    min-height: 1px;
  }

  &:last-child {
    margin-right: auto;
  }
}

.post {
  border-top: 1px solid $medium-gray;

  .name {
    font-size: 1em;
    margin: 0;

    .published-at {
      margin-top: -2px;
      float: right;
    }
  }

  p {
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 13px;
  }

  img {
    width: 100%;
  }
}

.social-links {
  border-bottom: 1px inset rgba(0,0,0,.5);
  padding-bottom: $element-margin;
  margin-bottom: $element-margin;
  overflow: hidden;

  .social-link {
    float: left;

    margin-right: $social-link-margin;

    &:last-child {
      margin: 0;
    }
  }
}

.social-link {
  @include size($social-link-height);

  display: block;
}

.store-link, .instagram-link {
  position: relative;
  background: $base-image-color;
  display: block;
  width: 100%;
  margin-bottom: $element-margin;

  .background-text {
    color: #fff;
  }
}

.store-link {
  height: $store-link-height;

  .background-text {
    line-height: $store-link-height;
  }
}

.instagram-link {
  height: $instagram-link-height;

  .background-text {
    line-height: $instagram-link-height;
  }
}

.published-at {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}