header nav {
  min-width: $page-width;
  margin-top: $element-margin;
  margin-bottom: $element-margin;
  margin-left: $element-margin * -1;
  text-align: center;

  a {
    height: $element-margin;
    margin: auto ($element-margin * 2);
    font-size: $element-margin;
    font-weight: 700;
    font-variant: small-caps;
  }
}

.banner {
  @extend .hover-container;
  @include size($page-width 300px);

  background: $base-image-color;
  margin-bottom: $element-margin;
}
