$header-size: 118px;

$pages-width: $page-left-margin - $element-margin;
$pages-margin: 12px;

$banner-width: 750px;

.header {
  @include size(100% $header-size);
  margin: {
    left: 0;
    top: $element-margin;
    right: $element-margin;
    bottom: $element-margin;
  }

  .pages, .brand-logo, .banner {
    float: left;
    margin-right: $element-margin;

    &:last-child {
      margin-right: 0;
    }
  }
}

.pages {
  @include size($pages-width 100%);

  text-align: right;

  .page-link {
    height: 18px;

    &:first-of-type {
      margin-top: $pages-margin;
    }

    &:last-of-type {
      margin-bottom: $pages-margin;
    }
  }
}

.page-link {
  display: block;
  font-weight: 700;
  font-variant: small-caps;
}

.banner {
  @include size($banner-width 100%);

  display: block;

  @extend .hover-container;
}

.brand-logo {
  @include size($header-size);

  display: block;
  overflow: hidden;

  background: {
    image: image-url("logo-hover.jpg");
    size: $header-size;
    position: center;
  }

  img:hover {
    opacity: 0;
  }
}
