$page-width: 1000px;

body {
  width: $page-width;
  margin: auto;
}

.content {
  margin-left: $page-left-margin;
}

.hover-container {
  display: block;
  position: relative;

  img {
    position: absolute;

    &:last-of-type {
      &:hover {
        opacity: 0;
      }
    }
  }
}