$page-width: 1000px;

body {
  width: $page-width;
  margin: auto;
}

img {
  background: #fff;
  color: #fff;
}

iframe {
  border: none;
}

.content {
  margin-left: $page-left-margin;
}

.background-text {
  position: absolute;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.paging-link {
  display: block;
  margin: $element-margin;
  text-align: center;
}

a[rel^=lightbox] {
  img:hover {
    opacity: 0.9;
  }
}

.hover-container {
  display: block;
  position: relative;

  img {
    position: absolute;

    &:last-of-type {
      &:hover {
        opacity: 0;
      }
    }
  }
}