$posts-width: 524px;

.posts {
  @include size($posts-width 100%);

  overflow: hidden;
}

.blog {
  .posts, .visuals-small {
    float: left;
    margin-right: $element-margin;
  }
  &:last-child {
    margin-right: auto;
  }
}