$project-width: 1000px;
$project-height: 558px;

.project {
  position: relative;

  iframe {
    width: $project-width;
    height: $project-height;
  }

  img {
    width: $project-width;
  }
}

.hidden {
  display: none;
}

.flex-direction-nav li a {
  line-height: normal;
  opacity: 0.5;
  color: #fff;

  &.flex-prev {
    left: $element-margin;
  }

  &.flex-next {
    right: $element-margin;
  }
}
