$visual-width: 230px;

.visuals {
  section {
    @include size($visual-width auto);

    margin-right: $element-margin;
    display: inline-block;
    float: right;

    &:first-of-type {
      margin-right: 0;
    }

    &:last-of-type {
      float: none;
    }
  }

  .visual {
    @include size(100% auto);
    margin-bottom: $element-margin;
  }
}
