$visual-width: 217px;
$visual-margin: 6px;

.visuals {

  @include columns($visual-width);
  @include column-gap($visual-margin / 2.5);

  .visual {
    @include size($visual-width auto);

    margin-bottom: $visual-margin;
    display: inline-block;
  }
}
