= link_to nil, posts_path, id: "home-link"
= header_link_to :projects
= header_link_to :visuals
= header_link_to :stockists
= header_link_to :contact
= header_link_to :store, store_url

= link_to featured_project_path, id: "banner" do
  = image_tag featured_project.banner.url(:banner)